.panel{
    width: 304px;
    min-height: 655px;
    position: relative;
    margin-top: 50px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.panel .top{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.panel .bottom{
    min-height: 605px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 10px;
}

.emptyPanel{
    width: 304px;
    min-height: 655px;
    margin-top: 50px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.panel .title{
    width: 142px;
    height: 45px;
    background-color: #FFFFFF;

    position: absolute;
    margin-right: 130px;
    margin-top: -16px;
}

.panel .title h1{
    color: #B10E5C;
    font-weight: bold;
    font-size: 32px;
    margin-top: 3px;
    text-align: center;
}

.cards{
    width: 100%;
    height: 100%;
    margin-left: calc((304px - 256px) / 2);
}

.placeholder{
    position: absolute;
    background-color: gray;
    border-radius: 4px;
    margin-left: calc((304px - 256px) / 2);
    margin-top: 63px;
}

@media screen and (max-width: 1700px){
    .top, .bottom{
      width: 90%;
    }
}