* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, rgba(217,168,255) 30%, rgba(114,204,255) 100%);
}

.page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}

.top{
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
}

.bottom{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panels{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.auth-container{
  width: 100%;
  height: 85px;
}

.auth-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: -50px;
}

.auth-alert{
  width: 398px;
  height: 85px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;

  padding: 10px;

  background: rgba(229, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.auth-alert p{
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1700px){
  .top, .bottom{
    width: 90%;
  }
}

@media screen and (max-width: 1500px){
  .top, .bottom{
    width: 80%;
  }

  .top{
    margin-bottom: 40px;
  }

  .panels{
    justify-content: space-between;
  }

  .auth-wrapper{
    justify-content: center;
    margin-right: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 770px){
  .top, .bottom{
    width: 90%;
  }
}